*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body
{
    overflow: hidden;
    overscroll-behavior: none;
}

.experience
{
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.loading-title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    opacity: 1;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    transition: opacity 0.5s;

}

.loading-title.ended {
    opacity: 0;
    transition: opacity 1.5s;
}

.loading-bar {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.5s;
}

.loading-bar.ended {
    transform-origin: top right;
    transition: transform 1.5s ease-in-out;
}